body {
    font-size: 18px;
    color: white;
    padding: 0%;
    background: #1D1D1D;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Arimo', sans-serif;
}

p {
    font-family: 'Arimo', sans-serif;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    align-items: center;

}

.logo-image {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.logo-text-box {
    text-align: center;
    margin-bottom: 130px;
}

.logo-text {
    font-family: 'Nothing You Could Do', sans-serif, cursive;
    color: #A7A7A7;
}

.nav-link {
    text-align: center;
    padding: 6px 5px 6px;
    text-decoration: none;
    font-size: 25px;
    color: #A7A7A7;
    display: block;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;
    box-shadow: inset 0 0 0 0 #A7A7A7;
    transition: color .1s ease-in-out, box-shadow .1s ease-in-out;
}

.nav-link:hover {
    box-shadow: inset 150px 0 0 0 #73FABA;
    color: #181818;
}


.media-links {
    margin-top: 130px;
    display: grid;
    column-gap: 5px;
    grid-template-columns: auto auto auto;
}


.media-links a {
    font-size: 30px;
    color: #A7A7A7;
    padding-left: 10px;
    display: inline-block;
}

.media-links a:hover {
    color: #73FABA;

}

.media-link {
    float: left;
    padding-left: 10px;
}

@media screen and (max-width:767px) {

    .sidenav {
        display: none;
    }

    .main {
        margin-left: 2% !important;
    }
}

.topnav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    text-align: center;
    display: none;

}

.topnav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

.top-nav-links a {
    color: #A7A7A7;
    display: inline-block;
    display: block;
    font-size: 30px;
    text-decoration: none;
}

.top-media-links {
    margin-top: 100px;
    font-size: 30px;
}

.top-media-links a {
    color: #A7A7A7;
    padding: 10px 10px 10px;

}

.hamburger {
    position: absolute;
    /* position: sticky; */
    top: 10px;
    right: 10px;
}

@media screen and (min-width:767px) {

    .topnav {
        display: none;
    }

    .hamburger {
        display: none;
    }

}

.main {
    margin-left: 200px;
    margin-top: 100px;
    padding: 0px 10px;
    background: #1D1D1D;
}

.radioBtn {
    display: grid;
    place-items: center;
}

.btn-primary {
    color: white;
    background-color: red;
    border-color: red;
}

.passwordbox {
    display: grid;
    place-items: center;
}

.passwordInput {
    margin-top: 5%;
    text-align: center;
}

.displayBadge {
    margin-top: 5%;
    display: none;
    text-align: center;
}

.strengthDisp {
    font-size: larger;
}

.laptoplady {
    display: block;
    margin-left: auto;
    margin-right: auto;
}